/*第一幕*/

html {
    background: -webkit-gradient(linear, 0% 0%, 0 100%, from(rgb(255, 138, 69)), color-stop(0.4, rgb(255, 81, 70)), to(rgb(255, 81, 70)));
}

.wrapper {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    -webkit-user-select: none;
    user-select: none;
}

.stage {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /*display: none;*/
}

.stage.animate {
    transition: transform .5s cubic-bezier(.645, .045, .355, 1);
}

.stage1,
.stage2 {
    perspective: 340px;
    color: #fff;
    text-align: center;
    font-size: 1rem;
}

.stage1 .fuqi-img {
    width: 10rem;
    height: 8rem;
    margin: 2rem auto;
    background-image: url(../img/laosiji.png);
    background-size: 10rem 8rem;
    animation: bounceIn .6s 3.5s forwards;
    opacity: 0;
}

.stage1 .shouzhi {
    animation: slideInUp .5s 4.2s forwards;
    opacity: 0;
    margin: 2rem 0;
}

.stage1 .biaoche {
    animation: slideInUp .5s 4.8s forwards;
    opacity: 0;
    margin: 2rem 0;
}

.title {
    animation: textfromleft .8s .2s forwards;
    margin: 1rem 0;
    opacity: 0;
}

.text {
    animation: textfromright .8s 2.5s forwards;
    margin: 2rem 0;
    opacity: 0;
}

.stage1 .left {
    float: left;
    width: 50%;
    text-align: right;
    animation: textfromleft .8s 1.6s forwards;
    margin: 2rem 0;
    opacity: 0;
}

.stage1 .right {
    float: right;
    width: 50%;
    text-align: left;
    animation: textfromright .8s 1.6s forwards;
    margin: 2rem 0;
    opacity: 0;
}

.stage2 .css3Slider {
    animation: bounceIn .8s 1.6s forwards;
    margin: 2rem auto;
    opacity: 0;
}

.stage2 .zhuangbi {
    animation: slideInUp .5s 2.6s forwards;
    opacity: 0;
}

.stage2 .jiantou {
    width: 5rem;
    height: 0;
    animation: showDown .6s 3.3s forwards;
    margin: 1rem auto;
    background-image: url(../img/jiantou.png);
    background-size: 5rem 5rem;
    opacity: 0;
}

.stage2 .zhaoyangjj {
    width: 8rem;
    height: 8rem;
    animation: slideInUp .6s 3.9s forwards;
    margin: 0.6rem auto;
    background-image: url(../img/jj.jpg);
    background-size: 8rem 8rem;
    opacity: 0;
}

.zbnum2 {
    color: #000;
    font-size: 1.2rem;
    opacity: 0;
    animation: slideInUp .5s 4.2s forwards;
}


/*endWords*/

.endWords {
    text-align: center;
    color: yellow;
    font-size: 1.5rem;
    animation: endWords 8s 0.6s linear forwards;
    opacity: 0;
}

.endWords>p {
    margin-top: 0.8rem;
}

.stage5 {
    text-align: center;
}

.payMoney {
    position: absolute;
    width: 100vw;
    top: 50%;
    margin-top: -1.5rem;
    height: 3rem;
    line-height: 3rem;
    font-size: 1.2rem;
    animation: slideInDown .5s 9s forwards;
    opacity: 0;
    color: #fff;
    text-align: center;
}

.payMoney>i {
    display: inline-block;
    width: 4rem;
    height: 3rem;
    background-image: url(../img/zhifu.png);
    background-size: 4rem 3rem;
}


/*.toswitch*/

.toswitch {
    position: absolute;
    width: 0.5rem;
    height: 0.5rem;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAAv0lEQVQoFYXBMWrCABQA0B+8ipMQaKesreDgYscWhBbc9ADiJrSL4AE8jT2Ap3CwU5bUuL9qDKjV0vciLpiZxd9MfdmYxm3GcqlUbhzXDBXuY8+dwjAuebWVRU1m6y1OPCu144y20ksc6dnpRkUiiYqunV4cWHmKisTCQhIVPas40IiaubW1edQ04px3G01NGx9xzUSuFXtacpO4ZORbGjWpwihODBSyOCNTGMSRvtJj/OJBqR8Hljpxg47P+N8P5hmAoKmWllkAAAAASUVORK5CYII=) 0 0 no-repeat;
    background-size: 100%;
    left: 50%;
    bottom: 0.75rem;
    transform: translateX(-50%);
    z-index: 99;
    animation: toswitchAni 1s ease-out 0s infinite;
}

@-webkit-keyframes toswitchAni {
    0% {
        transform: translate(-50%, 0);
        opacity: 0;
    }
    100% {
        transform: translate(-50%, -100%);
        opacity: 1;
    }
}

@-webkit-keyframes bounceIn {
    0% {
        transform: scale(0, 0) translateZ(0);
        opacity: 0;
    }
    50% {
        transform: scale(1.05, 1.05) translateZ(0);
        opacity: 1;
    }
    70% {
        transform: scale(.9, .9) translateZ(0);
    }
    100% {
        transform: scale(1, 1) translateZ(0);
        opacity: 1;
    }
}

@keyframes textfromleft {
    0% {
        transform: translateX(-80%);
        opacity: 0;
    }
    60% {
        transform: translateX(10%);
        opacity: 0.6;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes textfromright {
    0% {
        transform: translateX(80%);
        opacity: 0;
    }
    60% {
        transform: translateX(-10%);
        opacity: 0.6;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes textfromright2 {
    0% {
        transform: translateX(80%) rotateX(180deg);
        opacity: 0;
    }
    60% {
        transform: translateX(-10%) rotateX(180deg);
        opacity: 0.6;
    }
    100% {
        transform: translateX(0) rotateX(180deg);
        opacity: 1;
    }
}

@keyframes slideInUp {
    0% {
        transform: translateY(6.25rem);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideInDown {
    0% {
        transform: translateY(-5rem);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes endWords {
    0% {
        transform: translateY(20rem);
        opacity: 1;
    }
    100% {
        transform: translateY(-30rem);
        opacity: 1;
    }
}

@-webkit-keyframes showDown {
    0% {
        height: 0;
        opacity: 0;
    }
    100% {
        height: 5rem;
        opacity: 1;
    }
}

.showDemo {
    display: none;
}


/**/

canvas {
    position: absolute;
    backface-visibility: hidden;
}

#container img {
    position: absolute;
    cursor: pointer;
}

#container {
    position: absolute;
    width: 768px;
    height: 485px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}


.sky {
  height: 100vh;
  background: #007fd5;
  position: relative;
  overflow: hidden;
  animation: sky_background 50s ease-out infinite;
  transform: translate3d(0, 0, 0);
}

.sky .clouds {
  background: url("../img/cloud_three.png");
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 300%;
  animation: cloud_one 50s linear infinite;
  transform: translate3d(0, 0, 0);
}


@keyframes sky_background {
  0% {
    background: #007fd5;
    color: #007fd5
  }
  50% {
    background: #000;
    color: #a3d9ff
  }
  100% {
    background: #007fd5;
    color: #007fd5
  }
}


@keyframes cloud_one {
  0% {
    left: 0
  }
  100% {
    left: -200%
  }
}
